################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/public/FileContentIndex
/.vs/public/v17/ipch/AutoPCH
/.vs/public/v17
/.vs
